.view-child {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s linear;
    background: #fff;
    overflow-x: hidden;
}

.view-child.active {
    left: 0;
    z-index: 9;
}

.view-child.next {
    left: 100%;
    z-index: 7;
}

.view-child.prev {
    left: -100%;
    z-index: 8;
}