@import '../../../assets/styles/theme/_variables';
.bg-checkbox,
.bg-checkbox-inner,
.bg-checkbox-ins {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.bg-sr-only .bg-checkbox-title {
    display: none;
}

.bg-checkbox-inner input {
    -webkit-appearance: none;
    opacity: 0;
}

.bg-checkbox-ins {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.26);
}

.bg-checkbox-ins:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

.bg-checkbox-ins {
    &:before,
    &:after {
        transform: scale(0);
        transition: all .3s cubic-bezier(.25, .8, .25, 1);
    }
}

.bg-checkbox-ins::after {
    content: "";
    width: 6px;
    height: 13px;
    position: absolute;
    top: 1px;
    left: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    opacity: 0;
    transform: rotate(45deg) scale3D(.15, .15, 1);
    ;
}

.bg-checkbox-inner>input:checked+.bg-checkbox-ins::after {
    opacity: 1;
    transform: rotate(45deg) scale3D(1, 1, 1);
    ;
}

.bg-checkbox-inner>input:checked+.bg-checkbox-ins:before {
    background: $theme-green;
    transform: scale(1);
}

.bg-checkbox-inner>input:disabled+.bg-checkbox-ins {
    opacity: .8;
}

.bg-checkbox-inner>input:disabled+.bg-checkbox-ins:before {
    background: transparent !important;
}

.bg-checkbox-inner {
    padding-right: .3rem;
}

@each $theme,
$color in $theme {
    .bg-checkbox.bg-#{$theme} {
        .bg-checkbox-inner>input:checked+.bg-checkbox-ins:before {
            background: $color;
        }
    }
}