@import '../../../assets/styles/theme/_variables';
.bing-radio,
.bing-radio-inner,
.bing-radio-ins {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    -webkit-align-items: center;
    align-items: center;
}

.bing-radio-inner {
    padding-right: 6px;
}

.bing-radio-inner input {
    -webkit-appearance: none;
    opacity: 0;
}

.bing-radio {
    margin-bottom: .5rem;
}

.bing-radio-ins,
.bing-radio-ins::after {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.26);
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
}

.bing-radio-ins::before,
.bing-radio-ins::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 50%;
}

.bing-radio-ins::before {
    width: .7rem;
    height: .7rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bing-radio-ins::after {
    width: .35rem;
    height: .35rem;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    transition: transform .25s;
}

.bing-radio-ins::after,
.bing-radio-inner>input:checked+.bing-radio-ins {
    background: $theme-green;
}

.bing-radio-inner>input:checked+.bing-radio-ins::after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.bing-radio-title {
    padding-left: .3rem;
}

.bing-radio-inner>input:disabled+.bing-radio-ins,
.bing-radio-inner>input:disabled+.bing-radio-ins:after {
    background: rgba(0, 0, 0, 0.15) !important;
}

@each $theme,
$color in $theme {
    .bing-radio.bing-#{$theme} {
        .bing-radio-ins::after,
        .bing-radio-inner>input:checked+.bing-radio-ins {
            background: $color;
        }
    }
}