<div class="bing-select">
    <div class="bing-select-input">
        <label (click)="onClick()">{{value}}</label>
    </div>
    <div #menu class="bing-select-menu" [@selectState]="activeState" (@selectState.start)="transitionStart()" (@selectState.done)="transitionEnd()">
        <div class="bing-select-filter" *ngIf="filter"></div>
        <div class="bing-select-wrapper">
            <ul>
                <bing-select-item *ngFor="let option of options" (onClick)="iClick($event)" [selected]="option===selected" [option]="option"></bing-select-item>
            </ul>
        </div>
    </div>
</div>