@import '../../../assets/styles/theme/_mixin';
:host /deep/ {
    .bg-pagination {
        display: inline-block;
    }
    .bg-pagination>ul {
        @include flexbox;
    }
    .bg-pagination-item {
        margin: 0 2px;
        position: relative;
        vertical-align: top;
    }
    .bg-pagination-item a {
        @include flexbox;
        border-radius: 50% !important;
        padding: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        z-index: 1;
        border: 0;
        position: relative;
        text-decoration: none;
        color: #7e7e7e;
        background-color: #e2e2e2;
        margin-left: -1px;
    }
}