<div class="group main-container">
    <div class="row">
        <div bGrid="6" class="bg-demo-board">
            <p>
                按钮是与应用程序交互的重要元素，它可以由文本或图标组成，并且可以通过各种属性进行增强美化。
            </p>
            <ul class="bg-ul-padding">
                <li>图标按钮</li>
                <li>圆形按钮</li>
                <li>按钮组</li>
            </ul>
            <hr>
            <h3 class="bg-head-title">API 选项</h3>

            <div class="bg-demo-row">
                <h3 class="bg-title">bg-button-group</h3>
                <p>可选，按钮组</p>
            </div>

            <div class="bg-demo-row">
                <h3 class="bg-title">bButton</h3>
                <p>必选，用来定义一个按钮</p>
                <bg-table>
                    <bg-table-header>
                        <bg-table-row>
                            <bg-table-head>属性</bg-table-head>
                            <bg-table-head>类型</bg-table-head>
                            <bg-table-head>描述</bg-table-head>
                        </bg-table-row>
                    </bg-table-header>

                    <bg-table-body>
                        <bg-table-row>
                            <bg-table-cell>size</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>String</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>可选，用来设置按钮的尺寸(big,middle(默认),small,mini)</bg-table-cell>
                        </bg-table-row>
                        <bg-table-row>
                            <bg-table-cell>color</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>String</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>可选，用来设置按钮的样式(lightblue、green、yellow、red、blue)</bg-table-cell>
                        </bg-table-row>
                        <bg-table-row>
                            <bg-table-cell>disabled</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>Boolean</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>可选，禁用按钮并阻止他的动作。 默认为false</bg-table-cell>
                        </bg-table-row>
                        <bg-table-row>
                            <bg-table-cell>icon</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>String</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>
                                <ng-template>可选，用来设置图标，默认采取<a target="_blank" href="http://fontawesome.io/icons/">Fontawesome图标</a></ng-template>
                            </bg-table-cell>
                        </bg-table-row>
                        <bg-table-row>
                            <bg-table-cell>block</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>无</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>可选，以块元素展示</bg-table-cell>
                        </bg-table-row>
                        <bg-table-row>
                            <bg-table-cell>circle</bg-table-cell>
                            <bg-table-cell>
                                <ng-template><code>Boolean</code></ng-template>
                            </bg-table-cell>
                            <bg-table-cell>可选，圆角</bg-table-cell>
                        </bg-table-row>
                    </bg-table-body>
                </bg-table>
            </div>
        </div>

        <div class="bg-demo-board" bGrid="6">

            <div class="bg-card-board">
                <h3 class="bg-toolbar">Default</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <a bButton>Link</a>
                        <button bButton>Button</button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;a bButton&gt;default&lt;/a&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">Color</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <button bButton>default</button>
                        <button bButton color="lightblue">lightblue</button>
                        <button bButton color="green">green</button>
                        <button bButton color="yellow">yellow</button>
                        <button bButton color="red">red</button>
                        <button bButton color="blue">blue</button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;button bButton&gt;default&lt;/button&gt; &lt;button bButton color="lightblue"&gt;lightblue&lt;/button&gt; &lt;button bButton color="green"&gt;green&lt;/button&gt; &lt;button bButton color="yellow"&gt;yellow&lt;/button&gt; &lt;button bButton color="red"&gt;red&lt;/button&gt;
                            &lt;button bButton color="blue"&gt;blue&lt;/button&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">Size</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <button bButton color="blue" size="big">blue</button>
                        <button bButton color="blue">blue</button>
                        <button bButton color="blue" size="small">blue</button>
                        <button bButton color="blue" size="mini">blue</button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;button bButton color="blue" size="big"&gt;blue&lt;/button&gt; &lt;button bButton color="blue"&gt;blue&lt;/button&gt; &lt;button bButton color="blue" size="small"&gt;blue&lt;/button&gt; &lt;button bButton color="blue" size="mini"&gt;blue&lt;/button&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">GROUP</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <bg-button-group>
                            <button bButton>default</button>
                            <button bButton>default</button>
                            <button bButton>default</button>
                        </bg-button-group>
                        <bg-button-group>
                            <button bButton color="blue">blue</button>
                            <button bButton color="blue">blue</button>
                            <button bButton color="blue">blue</button>
                        </bg-button-group>
                        <bg-button-group>
                            <button bButton color="lightblue">lightblue</button>
                            <button bButton color="lightblue">lightblue</button>
                            <button bButton color="lightblue">lightblue</button>
                        </bg-button-group>
                        <bg-button-group>
                            <button bButton color="green">green</button>
                            <button bButton color="green">green</button>
                            <button bButton color="green">green</button>
                        </bg-button-group>
                        <bg-button-group>
                            <button bButton color="yellow">yellow</button>
                            <button bButton color="yellow">yellow</button>
                            <button bButton color="yellow">yellow</button>
                        </bg-button-group>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;bg-button-group&gt; &lt;button bButton&gt;default&lt;/button&gt; &lt;button bButton&gt;default&lt;/button&gt; &lt;button bButton&gt;default&lt;/button&gt; &lt;/bg-button-group&gt; &lt;bg-button-group&gt; &lt;button bButton color="blue"&gt;blue&lt;/button&gt;
                            &lt;button bButton color="blue"&gt;blue&lt;/button&gt; &lt;button bButton color="blue"&gt;blue&lt;/button&gt; &lt;/bg-button-group&gt; &lt;bg-button-group&gt; &lt;button bButton color="lightblue"&gt;lightblue&lt;/button&gt;
                            &lt;button bButton color="lightblue"&gt;lightblue&lt;/button&gt; &lt;button bButton color="lightblue"&gt;lightblue&lt;/button&gt; &lt;/bg-button-group&gt; &lt;bg-button-group&gt; &lt;button bButton color="green"&gt;green&lt;/button&gt;
                            &lt;button bButton color="green"&gt;green&lt;/button&gt; &lt;button bButton color="green"&gt;green&lt;/button&gt; &lt;/bg-button-group&gt; &lt;bg-button-group&gt; &lt;button bButton color="yellow"&gt;yellow&lt;/button&gt; &lt;button
                            bButton color="yellow"&gt;yellow&lt;/button&gt; &lt;button bButton color="yellow"&gt;yellow&lt;/button&gt; &lt;/bg-button-group&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">ICON</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <button bButton icon="home">HOME</button>
                        <button bButton icon="user"></button>
                        <button bButton circle="true" icon="user"></button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;button bButton icon="home"&gt;HOME&lt;/button&gt; &lt;button bButton icon="user"&gt;&lt;/button&gt; &lt;button bButton circle="true" icon="user"&gt;&lt;/button&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">Disabled</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <button bButton color="yellow" icon="user" [disabled]="true">yellow</button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;button bButton color="yellow" icon="user" [disabled]="true"&gt;yellow&lt;/button&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>

            <div class="bg-card-board">
                <h3 class="bg-toolbar">BLOCK</h3>
                <bg-tab-group direction="right">
                    <bg-tab header="Demo">
                        <button bButton block>default</button>
                        <button bButton block color="blue">blue</button>
                    </bg-tab>
                    <bg-tab header="Code">
                        <bg-code lang="html">
                            &lt;button bButton block&gt;default&lt;/button&gt; &lt;button bButton block color="blue"&gt;blue&lt;/button&gt;
                        </bg-code>
                    </bg-tab>
                </bg-tab-group>
            </div>
        </div>
    </div>

    <!--<bg-toast [value]="msg" delay="1000"></bg-toast>-->
</div>