<div class="main-container">
    <div class="row">
        <div bGrid="6" class="bing-demo-board">
            <p>
                折叠面板能有效地节省页面的可视面积。
            </p>
            <hr>
            <h3 class="bing-head-title">API 选项</h3>

            <div class="bing-demo-row">
                <h3 class="bing-title">bing-accordion-group</h3>
                <p>折叠面板组</p>
                <bing-table>
                    <bing-table-header>
                        <bing-table-row>
                            <bing-table-head>属性</bing-table-head>
                            <bing-table-head>类型</bing-table-head>
                            <bing-table-head>描述</bing-table-head>
                        </bing-table-row>
                    </bing-table-header>

                    <bing-table-body>
                        <bing-table-row>
                            <bing-table-cell>closeOthers</bing-table-cell>
                            <bing-table-cell>
                                <ng-template><code>Boolean</code></ng-template>
                            </bing-table-cell>
                            <bing-table-cell>是否开启手风琴效果，默认为false，可选</bing-table-cell>
                        </bing-table-row>
                    </bing-table-body>
                </bing-table>
            </div>
            <div class="bing-demo-row">
                <h3 class="bing-title">bing-accordion</h3>
                <p>单个折叠面板元素</p>
                <bing-table>
                    <bing-table-header>
                        <bing-table-row>
                            <bing-table-head>属性</bing-table-head>
                            <bing-table-head>类型</bing-table-head>
                            <bing-table-head>描述</bing-table-head>
                        </bing-table-row>
                    </bing-table-header>

                    <bing-table-body>
                        <bing-table-row>
                            <bing-table-cell>header</bing-table-cell>
                            <bing-table-cell>
                                <ng-template><code>String</code></ng-template>
                            </bing-table-cell>
                            <bing-table-cell>折叠面板的开关(标题)，可选</bing-table-cell>
                        </bing-table-row>
                    </bing-table-body>
                </bing-table>
            </div>

            <div class="bing-demo-row">
                <h3 class="bing-title">f-header</h3>
                <p>用来展开／折叠折叠面板元素内容的开关，可选</p>
            </div>
        </div>

        <div class="bing-demo-board" fGrid="6">
            <div class="bing-card-board">
                <h3 class="bing-toolbar">折叠面板</h3>
                <bing-tab-group direction="right" theme="line">
                    <bing-tab header="PREVIEW">
                        <bing-accordion-group>
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                        </bing-accordion-group>
                    </bing-tab>
                    <bing-tab header="CODE">
                        <bing-code lang="html">
                            &lt;bing-accordion-group&gt; &lt;bing-accordion header="标题"&gt; bingNG是一个基于Angular2+4的UI主题框架 &lt;/bing-accordion&gt; &lt;bing-accordion header="标题"&gt; bingNG是一个基于Angular2+4的UI主题框架 &lt;/bing-accordion&gt; &lt;bing-accordion header="标题"&gt; bingNG是一个基于Angular2+4的UI主题框架
                            &lt;/bing-accordion&gt; &lt;/bing-accordion-group&gt;
                        </bing-code>
                    </bing-tab>
                </bing-tab-group>
            </div>

            <div class="bing-card-board">
                <h3 class="bing-toolbar">手风琴</h3>
                <bing-tab-group direction="right" theme="line">
                    <bing-tab header="PREVIEW">
                        <bing-accordion-group [closeOthers]="true">
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                            <bing-accordion header="标题">
                                bingNG是一个基于Angular2+4的UI主题框架
                            </bing-accordion>
                        </bing-accordion-group>
                    </bing-tab>
                    <bing-tab header="CODE">
                        <bing-code lang="html">
                            &lt;bing-accordion-group [closeOthers]="true"&gt; &lt;bing-accordion header="标题"&gt; bingNG是一个基于Angular2+4的UI主题框架 &lt;/bing-accordion&gt; &lt;bing-accordion header="标题"&gt; bingNG是一个基于Angular2+4的UI主题框架 &lt;/bing-accordion&gt; &lt;bing-accordion header="标题"&gt;
                            bingNG是一个基于Angular2+4的UI主题框架 &lt;/bing-accordion&gt; &lt;/bing-accordion-group&gt;
                        </bing-code>
                    </bing-tab>
                </bing-tab-group>
            </div>
        </div>

    </div>
</div>