<div class="container" style="padding-top:20px;">
    <div class="panel panel-default">
        <div class="panel-heading">基本</div>
        <div class="panel-body">
            <bg-json-view [data]="data"></bg-json-view>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">带展开参数</div>
        <div class="panel-body">
            <bg-json-view [data]="data" [levelOpen]="0"></bg-json-view>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">在线测试</div>
        <div class="panel-body">
            <textarea class="form-control" rows="15" [(ngModel)]="customData" (ngModelChange)="ngModelChange($event)"></textarea>
            <bg-json-view [data]="customJson"></bg-json-view>
        </div>
    </div>
</div>