<aside class="left-menu">
    <bg-scroll class="left-scroll" scrollClass="scroll-box">
        <div *ngFor="let menu of menus">
            <ul class="left-menu-item" *ngIf="menu.isSingle">
                <li bRipple>
                    <a routerLink="{{menu.menu.route}}" routerLinkActive="active">
                        <bg-icon icon="{{menu.menu.icon}}"></bg-icon>
                        <span class="accordion-toggle-title">{{menu.menu.name}}</span>
                    </a>
                </li>
            </ul>
            <bg-accordion-group [closeOthers]="true" *ngIf="!menu.isSingle">
                <bg-accordion class="left-menu-item" header="{{root.name}}" iconName="{{root.icon}}" *ngFor="let root of menu.menus">
                    <ul>
                        <li *ngFor="let children of root.children">
                            <a routerLink="{{children.route}}" routerLinkActive="active">
                                <cite>{{children.name}}</cite>
                                <em>{{children.desc}}</em>
                            </a>
                        </li>
                    </ul>
                </bg-accordion>
            </bg-accordion-group>
        </div>
    </bg-scroll>
</aside>
<!--<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">

    </div>
    <div class="navbar-container container-fluid"></div>
</nav>-->
<div class="top-menu">
    <div class="aside-header">
        <div class="aside-header-inner">
            <ul>
                <li class="toggle-btn">
                    <a (click)="toggleAside()">
                        <bg-hamburge type="line"></bg-hamburge>
                    </a>
                </li>
            </ul>
            <span class="top-logo-mini">B</span>
            <span class="top-logo">BingNG</span>
        </div>
    </div>
    <nav class="navbar-header">
        <ul class="navbar-header-right pull-right">

        </ul>
    </nav>
</div>
<div class="theme-setting">
    <bg-icon icon="cogs" [spin]="true"></bg-icon>
</div>
<main class="main-layout-container">
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($evnet)"></router-outlet>
</main>