<aside class="left-menu">
    <bing-scroll class="left-scroll" scrollClass="scroll-box">
        <ul class="left-menu-item">
            <li bRipple>
                <a routerLink="" routerLinkActive="active">
                    <bing-icon icon="desktop"></bing-icon>
                    <span class="accordion-toggle-title">简介</span>
                </a>
            </li>
            <li bRipple>
                <a routerLink="" routerLinkActive="active">
                    <bing-icon icon="download"></bing-icon>
                    <span class="accordion-toggle-title">开始使用</span>
                </a>
            </li>
            <li bRipple>
                <a routerLink="theme" routerLinkActive="active">
                    <bing-icon icon="adjust"></bing-icon>
                    <span class="accordion-toggle-title">主题</span>
                </a>
            </li>
        </ul>
        <bing-accordion-group [closeOthers]="true">
            <bing-accordion class="let-menu-item" header="UI 元素" iconName="dashboard">
                <ul>
                    <li bRipple>
                        <a routerLink="grid" routerLinkActive="active">
                            <cite>栅格系统</cite>
                            <em>grid</em>
                        </a>
                    </li>
                    <li bRipple>
                        <a routerLink="typography" routerLinkActive="active">
                            <cite>辅助元素</cite>
                            <em>typography</em>
                        </a>
                    </li>
                    <li bRipple>
                        <a routerLink="image" routerLinkActive="active">
                            <cite>图片</cite>
                            <em>image</em>
                        </a>
                    </li>
                    <li bRipple>
                        <a routerLink="shadow" routerLinkActive="active">
                            <cite>阴影</cite>
                            <em>shadow</em>
                        </a>
                    </li>
                </ul>
            </bing-accordion>
            <bing-accordion class="let-menu-item" header="基础组件" iconName="th-large">

            </bing-accordion>
        </bing-accordion-group>
    </bing-scroll>
</aside>
<div class="top-menu">
    <div class="aside-header">
        <div class="aside-header-inner">
            <ul>
                <li class="toggle-btn">
                    <a (click)="toggleAside()">缩进</a>
                </li>
            </ul>
            <span class="top-logo-mini">B</span>
            <span class="top-logo">BingNG</span>
        </div>
    </div>
    <nav class="navbar-header">
        <ul class="navbar-header-right pull-right">

        </ul>
    </nav>
</div>
<div class="theme-setting">
    <bing-icon icon="cogs" [spin]="true"></bing-icon>
</div>
<main class="main-layout-container">
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($evnet)"></router-outlet>
</main>