<div class="bg-table" #container>
    <table>
        <thead>
            <tr>
                <th class="bg-table-head" *ngIf="selection">
                    <div class="bg-table-head-inner">
                        <div class="bg-table-head-text">
                            <bg-tcheckbox #checkbox (onClick)="optionClick($event)"></bg-tcheckbox>
                        </div>
                    </div>
                </th>
                <th class="bg-table-head" *ngFor="let head of heads">
                    <div class="bg-table-head-inner">
                        <div class="bg-table-head-text">
                            <span *ngIf="!head.headerTemplate">{{head.title}}</span>
                            <bg-template *ngIf="head.headerTemplate" [template]="head.headerTemplate"></bg-template>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody *ngFor="let body of bodys">
            <tr class="bg-table-row" *ngFor="let row of body.rows;let i=index" (click)="onSelect(row,i)" [class.bg-selected]="row.selected">
                <td *ngIf="selection" class="bg-table-cell">
                    <div class="bg-table-cell-inner">
                        <bg-tcheckbox (onClick)="itemClick($event,row,i)"></bg-tcheckbox>
                    </div>
                </td>
                <td class="bg-table-row" *ngFor="let cell of row.cells" [attr.colspan]="cell.colspan" [attr.rowspan]="cell.rowspan">
                    <div class="bg-table-cell-inner">
                        <span *ngIf="!cell.cellTemplate">{{cell.value}}</span>
                        <bg-template *ngIf="cell.cellTemplate" [template]="cell.cellTemplate"></bg-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>