.bing-badge {
    display: inline-block;
    padding: 2px 3px;
    font-size: .5rem;
    line-height: 12px;
    border-radius: 3px;
    background-color: #f44336;
    color: #fff;
    margin-left: 3px;
    &.bing-badge-up {
        position: absolute;
        right: -3px;
        top: -3px;
        margin-left: 0;
    }
}

.bing-depth {
    box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.22);
}

.bing-depth-top-left {
    box-shadow: -10px -10px 25px 0px rgba(0, 0, 0, 0.22);
}

.bing-depth-top-right {
    box-shadow: 10px -10px 25px 0px rgba(0, 0, 0, 0.22);
}

.bing-depth-bottom-right {
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.22);
}

.bing-depth-bottom-left {
    box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.22);
}

.bing-depth-top {
    box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, .22);
}

.bing-depth-right {
    box-shadow: 15px 0 10px -10px rgba(0, 0, 0, .22);
}

.bing-depth-bottom {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .22);
}

.bing-depth-left {
    box-shadow: -15px 0 10px -10px rgba(0, 0, 0, .22);
}