// 主题颜色
$theme-blue:#3949ab;
$theme-green:#4CAF50;
// 链接颜色
$link-color:#FFF;
$link-background:#29368B;
// 背景颜色
$background:#2B2C30;
$top:50px;
$aside-width:250px;
$left-menu:'left-menu';
// 线半径
@mixin borderRadius($radius:2px) {
    border-radius: $radius;
}

// 盒子阴影
@mixin boxShadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

// 弹性盒子
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// 过渡动画 持续时间,属性
@mixin transition($duration, $attribute:all) {
    -webkit-transition: $attribute $duration;
    -moz-transition: $attribute $duration;
    transition: $attribute $duration;
}

// 位置 位置类型,上,右,下,左
@mixin position($type, $top:'', $right:'', $bottom:'', $left:'') {
    position: $type;
    @if $top !='' {
        top: $top;
    }
    @if $right !='' {
        right: $right;
    }
    @if $bottom !='' {
        bottom: $bottom;
    }
    @if $left !='' {
        left: $left;
    }
}

// 清除固定
@mixin clearfix {
    &::after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}