.bg-tooltip {
    position: fixed;
    max-width: 12.5rem;
    padding: .5rem;
    background: rgba(18, 19, 26, .9);
    color: #fff;
    border-radius: 3px;
    white-space: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bg-tooltip:before {
    content: '';
    position: absolute;
}

.bg-tooltip.right {
    margin-left: .4rem;
}

.bg-tooltip.right:before {
    top: 50%;
    left: -.8rem;
    border: .4rem solid transparent;
    border-right-color: rgba(18, 19, 26, .9);
}

.bg-tooltip.right:before,
.bg-tooltip.left:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.bg-tooltip.left {
    margin-left: -.4rem;
}

.bg-tooltip.left:before {
    top: 50%;
    right: -.8rem;
    border: .4rem solid transparent;
    border-left-color: rgba(18, 19, 26, .9);
}

.bg-tooltip.top {
    margin-top: -.4rem;
}

.bg-tooltip.top:before {
    left: 50%;
    bottom: -.8rem;
    border: .4rem solid transparent;
    border-top-color: rgba(18, 19, 26, .9);
}

.bg-tooltip.top:before,
.bg-tooltip.bottom:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.bg-tooltip.bottom {
    margin-top: .4rem;
}

.bg-tooltip.bottom:before {
    left: 50%;
    top: -.8rem;
    border: .4rem solid transparent;
    border-bottom-color: rgba(18, 19, 26, .9);
}