@import '../../../assets/styles/theme/_variables';
.bg-rating {
    display: flex;
    padding: .5rem;
    -webkit-align-items: center;
    align-items: center;
}

:host /deep/ {
    .bg-rating-item {
        padding: 0 .2rem;
        font-size: 1rem;
    }
    @each $theme,
    $color in $theme {
        .bg-rating {
            &.bg-#{$theme} {
                color: $color;
            }
        }
    }
}